/* ==================================
   LA ÓRBITA - PLANTILLA EDITORIAL
================================== */

.orbita-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    border-top:2px solid #111;

    padding-top:1rem;

    margin-bottom:4rem;
}


.header-fecha{
    border-right:2px solid #111;
    padding-right:20px;
}

.header-numero{
    border-left:2px solid #111;
    padding-left:20px;
}

body{
    max-width:1100px;
    margin:auto;
    padding:2rem;
}

.header-logo{
    font-size:2rem;
    font-weight:bold;
}

.titulo-articulo{
    font-size:4rem;
    margin-bottom:0.5rem;
    text-align:center;
}

.metadatos{
    text-align:right;
    margin-bottom:0.5rem;
}

.logo-central img{
    height:190px;
    width:auto;
    display:block;
}

.logo-central{
    text-align: center;
}

body{
    background-color:#F5F0E9 !important;
}
